<p>Hi <%= @contact.name %>,</p>

<p>Je hebt een nieuwe reactie ontvangen. </p>

<table>
  <% @messages.each do |message| %>
    <tr>
      <td>
        <b><%= message.incoming? ? 'Jij' : message.user.name %></b>
      </td>
      <td>: <%= message.content %></td>
    </tr>
  <% end %>
</table>
