@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('~shared/assets/fonts/Comfortaa-Light.woff?v=3.11') format('woff'),
       url('~shared/assets/fonts/Comfortaa-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~shared/assets/fonts/Comfortaa-Medium.woff') format('woff'),
       url('~shared/assets/fonts/Comfortaa-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~shared/assets/fonts/Comfortaa-Regular.woff') format('woff'),
       url('~shared/assets/fonts/Comfortaa-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~shared/assets/fonts/Comfortaa-SemiBold.woff') format('woff'),
       url('~shared/assets/fonts/Comfortaa-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~shared/assets/fonts/Comfortaa-Bold.woff') format('woff'),
       url('~shared/assets/fonts/Comfortaa-Bold.ttf') format('ttf');
}